<h1>Attribute Directives</h1>
<hr />
<h2 class="text-danger">1)ngIf Yapısı</h2>
<h3 *ngIf="status">ngIf Çalışmıyor</h3>
<h3 *ngIf="!status">ngIf Çalışıyor</h3>
<button class="btn btn-danger mx-2" (click)="changeStatus()">Değiştir</button>

<h2 class="text-danger">2)ngFor Yapısı</h2>
<ul>
  <li *ngFor="let item of items; let index = index">
    Index No: {{ index }} -> {{ item.id }} - {{ item.name }} - {{ item.value }}
  </li>
</ul>

<h2 class="text-danger">3)ngSwitch Yapısı</h2>
<div [ngSwitch]="switchValue">
  <h3 *ngSwitchCase="1">Değişken 1</h3>
  <h3 *ngSwitchCase="2">Değişken 2</h3>
  <h3 *ngSwitchDefault="">Değişken Default</h3>
</div>
<button class="btn btn-danger mx-2" (click)="changeSwitch()">Değiştir</button>

<h2 class="text-danger">4)Attribute Directive Yapısı</h2>
<button class="btn btn-danger mx-2" appButtonColor>
  Test Button Attribute Directive
</button>
